/* **************************************************************************

// CSS for LovelyKindleFox Github Page
// Author: LovelyKindleFox

************************************************************************** */
body {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  margin: 0px;
  top: 0px;
  overflow-x: hidden;
  font-family: sans-serif;
}

/************** main ******************/
.header {
	width: 100vw;
	height: 100vh;

	top:0px;
	margin: 0px;
}

.section {
	width: 100vw;
	height: 100vh;

	top:0px;
	margin: 0px;
}

.sectionMini {
	width: 100vw;
	height: 50vh;

	top:0px;
	margin: 0px;
}

.sectionBig {
	width: 100vw;
	height: 260vh;

	top:0px;
	margin: 0px;
}


.container {
	width: 100%;
	height: 100%;
	background-size: 100% 100%;

	position: relative;
	margin: 0 auto;
	top: 0px;
}

.content {
	width: 92%;
	height: 90%;
	background-size: 92% 90%;

	position: relative;
	margin: 0 auto;
	top: 5%;
}



/************** 
header
******************/
.bgSliderArea {
	width: 100%;
	height: 100%;
	background-size: 100% 100%;

	position: relative;
	margin: 0 auto;
	top: 0px;
}

.bgImage {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50% 0%;
	background-repeat: no-repeat;

	position: fixed;
	top: 0px;
}

#bg01 {
	background-image: url(../image/lovelyKindleFoxBg01.png);
}

.bgCover {
	width: 100%;
	height: 100%;
	background-size: 100% 100%;

	position: relative;
	margin: 0 auto;
	top: 0px;

	background-color: black;
	opacity: 0.5;
}

#headerContent {
	
	position: relative;
	margin: 0 auto;
	top: -100%;
}

/************** 
header: font
******************/
#titleText {
	font-family: 'Droid Sans', sans-serif;

	width: 50%;
	height: 50px;
	background-size: 50% 50px;

	font-size: 50px;
	color: white;
	letter-spacing: 2px;

	text-align: left;

	position: relative;
	margin: 0 auto;
	left: 30%;
	top: 20%;
	padding-top: 10px;
}

.decoLine {
	width: 500px;
	height: 1px;
	background-size: 500px 1px;

	background-color: white;

	position: absolute;
	top: 80px;
	left: 0px;
}

#subTitleText {
	font-family: 'Raleway', sans-serif;

	width: 50%;
	height: 30px;
	background-size: 50% 30px;

	font-size: 30px;
	color: white;
	letter-spacing: 2px;

	text-align: left;

	position: relative;
	margin: 0 auto;
	left: 30%;
	top: 24%;
	padding-top: 10px;
}

.pageAngle {
	width: 90%;
	text-align: center;
	position: relative;
	margin: 0 auto;
	top: -10px;
}

/************** 
section: profile
******************/
#profileArea {

	background-color: #df4f6d;
	position: relative;
	margin: 0 auto;
	top: 0px;
	z-index: 19;
}

.sectionDecoLineUpper {
	width: 100%;
	height: 1px;
	background-size: 100% 1px;

	background-color: white;

	position: absolute;
	top: 20px;
	left: 0px;

	z-index: 11;
}

.sectionDecoLineLower {
	width: 100%;
	height: 1px;
	background-size: 100% 1px;

	background-color: white;

	position: absolute;
	bottom: 20px;
	left: 0px;

	z-index: 11;
}

.gridLeft {
	width: 40%;
	height: 100%;
	background-size: 40% 100%;

	position: relative;
	float: left;
	left: 0px;
	top: 0px;
}

.gridRight {
	width: 60%;
	height: 100%;
	background-size: 60% 100%;

	position: relative;
	float: right;
	right: 0px;
	top: 0px;
}



.profilePicBox {
	width: 400px;
	height: 400px;
	background-size: 400px 400px;
	border-radius: 5px;

	background-color: white;

	position: relative;
	margin: 0 auto;
	top: 90px;

}

#profilePic {
	width: 360px;
	height: 360px;
	background-size: contain;
	background-image: url(../image/profilePic.png);
	background-repeat: no-repeat;
	
	border-radius: 5px;

	position: relative;
	margin: 0 auto;
	top: 20px;
}

.profilePicCover {
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-color: black;
	border-radius: 5px;

	position: absolute;
	top: 0px;
	left: 0px;

	opacity: 0.3;

}

.designerPic {
	width: 100%;
	height: 100%;
	background-size: contain;
	background-image: url(../image/designerPic.png);
	background-repeat: no-repeat;
	
	border-radius: 5px;

	position: absolute;
	top: 0px;
	left: 0px;

	opacity: 0.8;
}

.profileTextBox {
	width: 90%;
	height: 400px;
	background-size: 90% 400px;

	position: relative;
	margin: 0 auto;
	top: 90px;
}

.profileText {
	color: white;
	font-size: 20px;
	text-align: left;
	letter-spacing: 1px;
	padding-top: 20px;
}

.profileName {

	font-family: 'Raleway', sans-serif;

	color: white;
	font-size: 36px;
	text-align: left;
	letter-spacing: 1px;
	top: 0px;

}

/************** 
section: skill & frameworks
******************/
#skillArea {
	background-color: white;
	position: relative;
	margin: 0 auto;
	top: 0px;

	border: solid 1px white;

}	

#frameworksArea {
	background-color: white;
	position: relative;
	margin: 0 auto;
	top: 0px;

	border: solid 1px white;
}	

.bgCoverColorful {
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
		
	background: linear-gradient(to right,#f5bad3 0%,#fff8a5 50%,#a5d4f2 100%); 
	
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0.7;
}

.bgCoverColorful01 {
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
		
	background: linear-gradient(to right,#f5bad3 0%,#fff8a5 50%,#a5d4f2 100%); 
	
	position: absolute;
	top: -5px;
	left: 0px;
	opacity: 0.6;
}

.bgCoverColorful02 {
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
		
	background: linear-gradient(to right,#f5bad3 0%,#fff8a5 50%,#a5d4f2 100%); 
	
	position: absolute;
	top: 45px;
	left: 0px;
	opacity: 0.6;
}


#badgeBorder {
	border: solid 1px white;
	border-radius: 3px;
}


#badgeGridUnit01 {
	position: relative;
	top: -100%;
	margin-top: 10px;
}

#badgeGridUnit01Line {
	width: 100%;
	height: 60px;
	background-size: 100% 60px;
	background-color: #df4f6d;


	position: relative;
	margin: 0 auto;
	top: 120px;
}

#badgeGridUnit02 {
	position: relative;
	top: -100%;
	margin-top: -50px;
	margin-bottom: 50px;
}

#badgeGridUnit02Line {
	width: 100%;
	height: 60px;
	background-size: 100% 60px;
	background-color: #bf8d51;

	position: relative;
	margin: 0 auto;
	top: 135px;
}


#skillTitleTextBox {
	width: 160px;
	height: 160px;
	background-size: 160px 160px;
	background-color: #df4f6d;

	position: relative;
	margin: 0 auto;
	top: 15px;
	left: 10px;

	z-index: 11;

}

#frameworksTitleTextBox {
	width: 160px;
	height: 160px;
	background-size: 160px 160px;
	background-color: #bf8d51;

	position: relative;
	margin: 0 auto;
	top: -10px;
	left: 20px;

	z-index: 11;

}

#boxText01 {
	color: white;
	font-family: 'Droid Sans', sans-serif;
	text-align: center;
	font-size: 34px;
	padding-top: 55px;
	padding-left: 30px;
	
	transform: rotate(30deg); 
	-webkit-transform: rotate(30deg); 

}

#boxText02 {
	color: white;
	font-family: 'Droid Sans', sans-serif;
	text-align: center;
	font-size: 24px;
	padding-top: 60px;
	padding-left: 22px;
	
	transform: rotate(30deg); 
	-webkit-transform: rotate(30deg); 

}

.badgeBox01 {
	position: relative;
	margin: 0 auto;
	top: 15px;
	margin-bottom: 25px;

}

.badgeBox02 {
	position: relative;
	margin: 0 auto;
	top: 15px;
	margin-bottom: -110px;
	margin-top: 20px;

}

.badgeBg {
	width: 120px;
	height: 120px;
	background-size: 120px 120px;
	border-radius: 50% 50%;

	background-color: white;

	position: relative;
	margin: 0 auto;

	opacity: 0.5;

}

.badgeCircle01 {
	width: 110px;
	height: 110px;
	background-size: 110px 110px;
	border: solid 2px #df4f6d;
	border-radius: 50% 50%;

	position: relative;
	margin: 0 auto;
	top: -120px;
	margin-top: 5px;
}

.badgeCircle02 {
	width: 110px;
	height: 110px;
	background-size: 110px 110px;
	border: solid 2px #bf8d51;
	border-radius: 50% 50%;

	position: relative;
	margin: 0 auto;
	top: -120px;
	margin-top: 5px;
}


.badgeTextLower {
	width: 100%;
	height: 24px;
	background-size: 100% 20px;
	color: #df4f6d;
	font-family: 'Raleway', sans-serif;

	font-size: 24px;
	text-align: center;

	position: absolute;
	top: 5px;
	margin-top: 130px;

}

.badgeTextUpper {
	width: 100%;
	height: 24px;
	background-size: 100% 20px;
	color: #bf8d51;
	font-family: 'Raleway', sans-serif;

	font-size: 24px;
	text-align: center;

	position: absolute;
	top: -50px;


}


.badgeIcon {
	width: 90px;
	height: 90px;
	background-size: 90px 90px;
	
	position: relative;
	margin: 0 auto;
	top: 9px;
}

#badgePS {
	width: 90px;
	height: 90px;
	background-size: 90px 90px;
	border-radius: 50% 50%;

	background-color: #001d26;

	color: #00d5ff;
	font-size: 50px;
	text-align: center;
	padding-top: 12px;


}

#badgeAI {
	width: 90px;
	height: 90px;
	background-size: 90px 90px;
	border-radius: 50% 50%;

	background-color: #001d26;

	color: #ff7c00;
	font-size: 50px;
	text-align: center;
	padding-top: 12px;
}


#badgeHTML5Text {
	font-family: 'Exo', sans-serif;
	color: white;
	font-size: 50px;
	text-align: center;
	padding-top: 12px;

	position: relative;
	margin: 0 auto;

	z-index: 13;
}

#badgeHTML5BgLeft {
	width: 45px;
	height: 90px;
	background: #e44d26;
	border-radius:45px 0 0  45px;

	position: absolute;
	left: 0px;
	top: 0px;
}

#badgeHTML5BgRight {
	width: 45px;
	height: 90px;
	background: #f16529;
	border-radius:0 45px 45px 0;

	position: absolute;
	right: 0px;
	top: 0px;
}

#badgeCSS3Text {
	font-family: 'Exo', sans-serif;
	color: white;
	font-size: 50px;
	text-align: center;
	padding-top: 12px;

	position: relative;
	margin: 0 auto;

	z-index: 13;
}

#badgeCSS3BgLeft {
	width: 45px;
	height: 90px;
	background: #0070ba;
	border-radius:45px 0 0  45px;

	position: absolute;
	left: 0px;
	top: 0px;
}

#badgeCSS3BgRight {
	width: 45px;
	height: 90px;
	background: #1b86c1;
	border-radius:0 45px 45px 0;

	position: absolute;
	right: 0px;
	top: 0px;
}


#badgeJavascriptText {
	font-family: 'Exo', sans-serif;
	color: white;
	font-size: 46px;
	text-align: center;
	padding-top: 16px;

	position: relative;
	margin: 0 auto;
	padding-left: 14px;
	letter-spacing: 8px;

	z-index: 13;
}

#badgeJavascriptBgLeft {
	width: 45px;
	height: 90px;
	background: #d5ba32;
	border-radius:45px 0 0  45px;

	position: absolute;
	left: 0px;
	top: 0px;
}

#badgeJavascriptBgRight {
	width: 45px;
	height: 90px;
	background: #ffd93d;
	border-radius:0 45px 45px 0;

	position: absolute;
	right: 0px;
	top: 0px;
}

.badgeFill {
	width: 90%;
	height: 90%;
	background-size: 90% 90%;
	border-radius: 50% 50%;

	background-color: white;
}

#badgeGit {
	width: 90%;
	height: 90%;
	background-size: contain;
	background-image: url(../image/badgeGit.png);
	background-repeat: no-repeat;

	position: relative;
	margin: 0 auto;
	top: 5px;
}

#badgeJQuery {
	width: 90%;
	height: 90%;
	background-size: contain;
	background-image: url(../image/badgeJQuery.png);
	background-repeat: no-repeat;

	position: relative;
	margin: 0 auto;
	top: 5px;
}

#badgeBootstrap {
	width: 90px;
	height: 90px;
	background-size: 90px 90px;
	border-radius: 50% 50%;

	background-color: #563c79;

	color: white;
	font-size: 50px;
	text-align: center;
	padding-top: 12px;
}

#badgeSemanticUI {
	width: 90px;
	height: 90px;
	background-size: 90px 90px;
	border-radius: 50% 50%;

	background-color: #35bdb2;

	color: white;
	font-size: 50px;
	text-align: center;
	padding-top: 12px;
}

#badgeAFrame {
	width: 90px;
	height: 90px;
	background-size: 90px 90px;
	border-radius: 50% 50%;

	background-color: #ef2d5e;

	color: white;
	font-size: 50px;
	text-align: center;
	padding-top: 12px;
}

#badgeD3 {
	width: 90%;
	height: 90%;
	background-size: contain;
	background-image: url(../image/badgeD3.png);
	background-repeat: no-repeat;

	position: relative;
	margin: 0 auto;
	top: 5px;
}


/************** 
section: portfolio
******************/
#portfolioArea {
	width: 100%;

	position: relative;
	margin: 0 auto;
	top: 0px;
	
}

#portfolioTitleArea {
	width: 100%;
	height: 180px;
	background-size: 100% 180px;

	position: relative;
	margin: 0 auto;
	top: 50px;

	margin-bottom: 20px;

	z-index: 23;
}

#portfolioTitleText {
	font-family: 'Droid Sans', sans-serif;

	width: 50%;
	height: 50px;
	background-size: 50% 50px;

	font-size: 40px;
	color:  white;
	letter-spacing: 2px;

	text-align: center;

	position: relative;
	margin: 0 auto;
	top: 90px;

	padding-top: 0px;
}

.decoLineUpper {
	width: 300px;
	height: 1px;
	background-size: 300px 1px;
	background-color: white;

	position: relative;
	margin: 0 auto;
	top: -5px;
	margin-top: -70px;

}

.decoLineLower {
	width: 300px;
	height: 1px;
	background-size: 300px 1px;
	background-color: white;

	position: relative;
	margin: 0 auto;
	top: -5px;
	margin-top: 90px;
}

#portfolioLinkArea {
	width: 92%;
	position: relative;
	margin: 0 auto;
	top: 100px;

	margin-bottom: 220px;
}


.portfolioBox {
	height: 380px;

}

.iconTextLight {
	
	font-family: 'Raleway', sans-serif;
	font-size: 50px;
	color: white;
	text-align: center;
	letter-spacing: 2px;
	padding-left: 2px;

	position: relative;
	margin: 0 auto;
	top: 160px;

	opacity: 0.4;


}


#appsIcon {
	width: 300px;
	height: 300px;
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 5px;
	background-image: url(../image/appsIcon.png);

	position: relative;
	margin: 0 auto;
	top: 0px;
	margin-top: 30px;
}

#landingPageIcon {
	width: 300px;
	height: 300px;
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 5px;
	background-image: url(../image/landingPageIcon.png);

	position: relative;
	margin: 0 auto;
	top: 0px;
	margin-top: 30px;
}

#marketingGameIcon {
	width: 300px;
	height: 300px;
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 5px;
	background-image: url(../image/marketingGameIcon.png);

	position: relative;
	margin: 0 auto;
	top: 0px;
	margin-top: 30px;
}

#logoIcon {
	width: 300px;
	height: 300px;
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 5px;
	background-image: url(../image/logoIcon.png);

	position: relative;
	margin: 0 auto;
	top: 0px;
	margin-top: 30px;
}

#eBookIcon {
	width: 300px;
	height: 300px;
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 5px;
	background-image: url(../image/eBookIcon.png);

	position: relative;
	margin: 0 auto;
	top: 0px;
	margin-top: 30px;
}

#webVRIcon {
	width: 300px;
	height: 300px;
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 5px;
	background-image: url(../image/webVRIcon.png);

	position: relative;
	margin: 0 auto;
	top: 0px;
	margin-top: 30px;
}


.iconCoverDark {
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	border-radius: 5px;

	background-color: black;
	opacity: 0.4;

	position: absolute;
	left: 0px;
	top: 0px;
}

// .iconCover:hover {
// 	background-color: black;
// }


/************** 
section: resume
******************/
#resumeArea {
	width: 100%;
	background-color: #bf8d51;

	position: relative;
	margin: 0 auto;
	top: 0px;
}

#employmentAreaCover {
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-color: #b6cfd6;
	opacity: 0.8;
}

#employmentArea {
	width: 100%;
	height: 80%;
	background-size: 100% 80%;

	position: relative;
	top: 60px;
	left: 0px;

}


#educationArea {
	width: 100%;
	height: 10%;
	background-size: 100% 10%;

	position: relative;
	top: 100px;
	left: 0px;

}

.resumeSubTitle01 {
	border: solid 1px green;

	font-size: 40px;
	color: white;

	font-family: 'Raleway', sans-serif;

	letter-spacing: 2px;
	padding-left: 2px;

	text-align: left;
	position: relative;
	margin: 0 auto;
	padding-top: 0px;
}

.columnLeft {
	position: relative;
	right: 240px;
}

.resumeText02 {
	border: solid 1px green;

	color: white;

	font-family: 'Raleway', sans-serif;

	letter-spacing: 1px;
	padding-left: 1px;

	text-align: left;

	position: relative;
	margin: 0 auto;
	padding-top: 0px;
}

.resumeText02SubTitle {
	font-size: 24px;
}

.resumeText02SubTitleCompany {
	font-size: 16px;
	opacity: 0.8;

}

.resumeText02Description {
	font-size: 18px;
	color: white;


}

.resumeSub03 {
	border: solid 1px green;
}

/************** 
sectionMini: footer
******************/
#footer {
	width: 100%;
	height: 400px;
	background-size: 100% 400px;

	position: relative;
	margin: 0 auto;
	top: 0px;
}

.bgCoverDark {
	width: 100%;
	height: 100%;
	background-size: 100% 100%;

	background-color: black;
	opacity: 0.6;

	position: relative;
	margin: 0 auto;
	top: 0px;
}

.contactArea {
	width: 80%;
	height: 180px;
	background-size: 80% 180px;

	position: absolute;
	bottom: 140px;
	left: 10%;

}

.contactTitleText {
	font-family: 'Raleway', sans-serif;
	font-size: 38px;
	color: white;
	letter-spacing: 2px;
	padding-left: 2px;

	text-align: center;
	padding-top: 0px;

}

.eMailText {
	width: 400px;
	height: 54px;
	background-size: 400px 54px;

	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	color: white;
	letter-spacing: 1px;
	padding-left: 1px;

	border: solid 1px white;
	border-radius: 5px;

	text-align: center;
	padding-top: 10px;
	
	position: relative;
	margin: 0 auto;
	top: 50px;
}

.footerFill {
	width: 100%;
	height: 80px;
	background-size: 100% 80px;

	background-color: white;

	position: absolute;
	bottom: 0px;
	left: 0px;

	font-size: 14px;
	color: #3c3c3c;
	text-align: center;
	padding-top: 30px;
}


.footerFill02 {
	width: 100%;
	height: 70px;
	background-size: 100% 70px;

	background-color:  #bf8d51;

	position: absolute;
	bottom: 0px;
	left: 0px;
}


/************** 
layerNext
******************/
#layerNext {
	display: none;

	width: 100%;
	height: 100%;
	background-size: 100% 100%;

	position: fixed;
	top: 0px;
	left: 0px;
	
	z-index: 1000;
}

.layerNextBg {

	display: none;

	width: 100%;
	height: 100%;
	background-size: 100% 100%;

	background-color: black;

	position: fixed;
	top: 0px;
	left: 0px;

	opacity: 0.5;
	z-index: 999;

}
